[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
requests = "*"
isort = "*"
databases = {extras = ["sqlite"],version = "*"}
pytest-asyncio = "*"
flake8-docstrings = "*"
mkdocs = "*"
mkdocs-material = "*"
black = "*"
mypy = "*"
codecov = "*"
pytest-cov = "*"
pytest-mock = "*"
asynctest = "*"
flit = "*"
markdown-include = "*"
pygments = "*"
pymdown-extensions = "*"
bumpversion = "*"

[packages]
fastapi = "==0.44.0"
passlib = {extras = ["bcrypt"],version = "==1.7.2"}
email-validator = "==1.0.5"
sqlalchemy = "==1.3.11"
databases = "==0.2.6"
pyjwt = "==1.7.1"
python-multipart = "==0.0.5"
motor = "==2.0.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
