[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
requests = "*"
isort = "*"
databases = {extras = ["sqlite"],version = "*"}
pytest-asyncio = "*"
flake8-docstrings = "*"
mkdocs = "*"
mkdocs-material = "*"
black = "*"
mypy = "*"
codecov = "*"
pytest-cov = "*"
pytest-mock = "*"
asynctest = "*"
flit = "*"
markdown-include = "*"
pygments = "*"
pymdown-extensions = "*"
bumpversion = "*"
httpx-oauth = "*"
httpx = "*"
asgi_lifespan = "*"
uvicorn = "*"

[packages]
fastapi = ">=0.54.0,<0.64.0"
passlib = {extras = ["bcrypt"],version = "==1.7.4"}
email-validator = ">=1.1.0,<1.2"
sqlalchemy = ">=1.3.13,<1.4"
databases = {extras = ["postgresql", "sqlite"], version = ">=0.3.0,<0.5"}
pyjwt = "==2.0.0"
python-multipart = "==0.0.5"
motor = ">=2.2.0,<3.0.0"
tortoise-orm = ">=0.15.18,<0.17.0"
makefun = ">=1.9.2,<1.10"
typing-extensions = ">=3.7.4.3"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
