[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
requests = "*"
isort = "*"
databases = {extras = ["sqlite"],version = "*"}
pytest-asyncio = "*"
flake8-docstrings = "*"
flake8-commas = "*"
flake8-quotes = "*"
mkdocs = "*"
mkdocs-material = "*"

[packages]
fastapi = "*"
passlib = {extras = ["bcrypt"],version = "*"}
email-validator = "*"
sqlalchemy = "*"
databases = "*"
python-multipart = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
