-r requirements.txt

flake8
pytest
requests
isort
pytest-asyncio
flake8-docstrings
mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
black
mypy
codecov
pytest-cov
pytest-mock
flit
markdown-include
pygments
pymdown-extensions
bumpversion
httpx-oauth
httpx
asgi_lifespan
uvicorn
