fastapi >=0.63.0,<0.65.0
passlib[bcrypt] ==1.7.4
email-validator >=1.1.2,<1.2
sqlalchemy >=1.3.23,<1.4
databases[postgresql, sqlite] >=0.3.2,<0.5
pyjwt ==2.0.1
python-multipart ==0.0.5
motor >=2.3.1,<3.0.0
tortoise-orm >=0.17.1,<0.18.0
ormar >=0.10.1,<0.11.0
makefun >=1.11.2,<1.12
typing-extensions >=3.7.4.3; python_version < '3.8'
Deprecated >=1.2.12,<2.0.0
