name: Update documentation

on:
  push:
    tags:
      - "*"
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install hatch
      - name: Build
        run: hatch run mkdocs build
      - name: Parse tag
        id: version_tag
        uses: battila7/get-version-action@v2
      - name: Deploy
        env:
          DOC_TAG: ${{ steps.version_tag.outputs.major && steps.version_tag.outputs.minor && format('{0}.{1} latest', steps.version_tag.outputs.major, steps.version_tag.outputs.minor) || 'dev' }}
        run: |
          git config user.name fastapi-users-ci
          git config user.email fastapi-users-ci@francoisvoron.com
          git fetch origin gh-pages --depth=1
          hatch run mike deploy --push --update-aliases ${{ env.DOC_TAG }}
